* {
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

a {
  color: none;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.header a {
  color: white;
  text-decoration: none;
}

.footer a {
  color: white;
  text-decoration: none;
}

.attractions__container a {
  color: black;
  text-decoration: none;
}

.header {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 5%;
  font-size: 30px;
  width: 100%;
  font-family: "News Cycle", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0;
}

.home__icon {
  padding-right: 15px;
}

.empty__header {
  padding-left: 15px;
}

.footer {
  background-color: black;
  color: white;
  height: 50px;
  font-size: 12px;
  width: 100%;
  text-align: center;
  font-family: "News Cycle", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 95%;
}

.tile__image {
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  z-index: 3;
}

.tile__text {
  height: 400px;
  width: 100%;
  font-size: 6vh;
  color: white;
  text-shadow: 2px 2px 3px black;
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Spartan", sans-serif;
}

.tile__overlay {
  z-index: 2;
  height: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.242);
  position: absolute;
}

.tile__overlay:hover {
  z-index: 2;
  height: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
}

.tile {
  position: relative;
  height: 400px;
  width: 100%;
}

.city__page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.146);
  padding: 0 1%;
  width: 100%;
  height: 100vh;
}

.city__image {
  display: flex;
  align-items: center;
  height: 800px;
}

*/ .city__name {
  font-size: 3vh;
  margin: 15px 0;
  font-family: "Spartan", sans-serif;
}

.city__scroll {
  font-size: 1vh;
  margin-bottom: 10px;
  font-family: "Spartan", sans-serif;
}

.home__icon {
  position: right;
}

.attractions__card {
  height: 75px;
  width: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Spartan", sans-serif;
  font-size: 1.25vh;
}
.attractions__card:hover {
  background-color: rgba(0, 128, 0, 0.317);
  font-size: 1.35vh;
}

.attractions__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  font-size: 1.25vh;
  text-overflow: wrap;
  height: 700px;
  max-width: 500px;
  overflow-y: scroll;
  padding: 10px;
  border: 3px solid rgba(0, 0, 0, 0.605);
}
