.museum__page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.146);
  padding: 0 10%;
  width: 100%;
  height: 100vh;
}

.museum__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3em;
  justify-content: flex-start;
  text-align: left;
  font-size: 3vh;
}
.museum__name {
  text-align: center;
  font-size: 4vh;
  text-decoration: underline;
}
.museum__button {
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 2em;
  font-size: 2.5vh;
  max-width: 200px;
  margin: 0 auto;
}

.museum__info a {
  color: white;
  text-decoration: none;
}

/* .museum__page span {
    text-decoration: underline;
  } */
